@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  transition: all linear 0.25s;
  transition-property: background-color, box-shadow;
}

body{
  font-family: 'Poppins', sans-serif;
}

h1{
  font-size: clamp(24px, 5vw, 48px);
  font-weight: 500;
}

h2{
  font-size: clamp(18px, 5vw, 36px);
  font-weight: 500;
}

h3{
  font-size: clamp(16px, 5vw, 24px);
  font-weight: 500;
}

h4{
  font-size: clamp(12px, 1vw, 16px);
  font-weight: 500;
}

button{
  font-family: 'Poppins', sans-serif;

}

::-webkit-scrollbar {
  width: 0;
}